<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CalendarApp</title>
    @*  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> origin*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Include Bootstrap CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://kit.fontawesome.com/c1c9e0ea72.js" crossorigin="anonymous"></script>

    <!-- Include Moment.js CDN -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>

    <!-- Include Bootstrap DateTimePicker CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'>

    <!-- Include Export Excel -->
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

</head>
        <body style="margin: 20px;">
            <header>

                <nav class="navbar navbar-light bg-white border-bottom box-shadow mb-3">

                    <div class="">
                        <a class="navbar-brand" asp-area="" asp-page="/index">Agile Calendar</a>
                    </div>
                    <div>
                        @*<ul>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-page="/index">home</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-page="/privacy">privacy</a>
                            </li>
                        </ul>*@
    </div>
    </nav>

    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted" style="position:unset; margin-top:20px;">
        <div class="centrarImagen">
            &copy; 2023 - Agile Calendar - by Miguel Fernandez Gargurevich - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
        <div class="centrarImagen">
            <img src="~/images/agilidad.png" style="width: 100px;" alt="logo agilidad">
        </div>
    </footer>


    <script src="~/lib/fullcalendar/index.global.js"></script>
    <script src="~/lib/fullcalendar/index.global.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>