
body {
    margin: 30px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

#external-events {
    /*
  position: fixed;
  left: 20px;
  top: 180px;
  
  
  
  */
    padding: 0 10px;
    width: 180px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
    resize: both;
}

    #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
    }

    #external-events .fc-event {
        margin: 3px 0;
        cursor: move;
    }

    #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
    }

        #external-events p input {
            margin: 0;
            vertical-align: middle;
        }

#calendar {
    max-width: 1300px;
    margin: 0 auto;
}

.fc-day-sun, .fc-day-sat {
    color: #337ab7;
    border-color: black;
    background-color: #f1eeee;
}

.fc-col-header-cell {
    background-color: #3788d8;
}

    .fc-col-header-cell a {
        color: white;
    }

.fc-toolbar-title {
    color: #3788d8;
    font-size: xx-large;
    font-weight: bold;
}

.modal-body {
    margin-inline: 20px;
}

/* checkbox*/

.toggler-wrapper {
    display: block;
    width: 45px;
    height: 25px;
    cursor: pointer;
    position: relative;
}

    .toggler-wrapper input[type="checkbox"] {
        display: none;
    }

        .toggler-wrapper input[type="checkbox"]:checked + .toggler-slider {
            background-color: #44cc66;
        }

    .toggler-wrapper .toggler-slider {
        background-color: #ccc;
        position: absolute;
        border-radius: 100px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
    }

    .toggler-wrapper .toggler-knob {
        position: absolute;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
    }

    /*Style 25*/

    .toggler-wrapper.style-25 input[type="checkbox"]:checked + .toggler-slider {
        background-color: white;
    }

    .toggler-wrapper.style-holiday input[type="checkbox"]:checked + .toggler-slider .toggler-knob {
        left: calc(100% - 19px - 3px);
        background-color: #DC4C64;
        /*background-image: url(../img/check-fill.svg);*/
    }

    .toggler-wrapper.style-birthday input[type="checkbox"]:checked + .toggler-slider .toggler-knob {
        left: calc(100% - 19px - 3px);
        background-color: #14A44D;
        /*background-image: url(../img/check-fill.svg);*/
    }

    .toggler-wrapper.style-vacation input[type="checkbox"]:checked + .toggler-slider .toggler-knob {
        left: calc(100% - 19px - 3px);
        background-color: #1e81b0;
        /*background-image: url(../img/check-fill.svg);*/
    }

    .toggler-wrapper.style-session input[type="checkbox"]:checked + .toggler-slider .toggler-knob {
        left: calc(100% - 19px - 3px);
        background-color: #0042FF;
        /*background-image: url(../img/check-fill.svg);*/
    }

    .toggler-wrapper.style-other input[type="checkbox"]:checked + .toggler-slider .toggler-knob {
        left: calc(100% - 19px - 3px);
        background-color: #844CBF;
        /*background-image: url(../img/check-fill.svg);*/
    }


    .toggler-wrapper.style-25 .toggler-slider {
        background-color: white;
        -webkit-box-shadow: 2px 4px 8px rgba(200, 200, 200, 0.5);
        box-shadow: 2px 4px 8px rgba(200, 200, 200, 0.5);
        border-radius: 15px;
    }

    .toggler-wrapper.style-25 .toggler-knob {
        width: calc(25px - 6px);
        height: calc(25px - 6px);
        border-radius: 15px;
        left: 3px;
        top: 3px;
        background-color: #ccc;
        /*background-image: url(../img/close-fill.svg);*/
        background-repeat: no-repeat;
        background-position: center;
    }

/*radiobutton*/
input[type='radio'] {
    cursor: pointer;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

input[type=radio]#new-radio-vacation {
    accent-color: #1e81b0;
}

input[type=radio]#new-radio-holiday {
    accent-color: #DC4C64;
}

input[type=radio]#new-radio-birthday {
    accent-color: #14A44D;
}

input[type=radio]#new-radio-session {
    accent-color: #0042FF;
}

input[type=radio]#new-radio-other {
    accent-color: #844CBF;
}


.centrarImagen {
    /*margin-top: 25px;
	margin-bottom: 25px;*/
    text-align: center
    /*  ;*/
    /*display:block;*/
}
